#set-height {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  right: 0;
  width: 55%; 
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(250, 249, 249); 
}

.vedio-stage {
  object-fit: contain;
  height: 100%;
  overflow: hidden;
}

.scrolling-text {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  color: rgb(249, 246, 246);
  width: 40%; 
}
